* {
  font-family: 'Open Sans', sans-serif;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
h6 {
  margin-top: 20px;
  padding-top: 5px;
}

body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.container-head {
  padding-left: 15px;
}

.container-task {
  font-size: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.progress-bar {
  height: 10px;
}

.container-jobs {
  font-style: normal;
  font-size: 10px;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
