* {
  font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 100px;
    background-color: white;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}


.container-back {
  height: 40%;
  background-color: #F3F4F5;
  width: 100%;
}

.container-footer {
  margin-left: 20px;
}

.marketing {
  padding-top: 50px;
}

#editor {
  height: 390px;
}

.container-button {
  padding-top: 10px;
}

.pages {
  margin-top: 10px;
  text-align: center;
}
